<h1> Recipe Info: </h1>

Title: <%= @recipe.title %> <br>
Ingredients: <%= @recipe.ingredients %> <br>
Instructions: <%= @recipe.instructions %> <br>

Reviews:

<ul><% @recipe.reviews.each do |review| %> <br>
    <li> Comments: <%= review.comment %> </li>
    <li> Score: <%= review.stars %> </li>
<% end %> </ul>
<br>


<%= link_to("Make a new review", new_recipe_review_path(@recipe.id))%> <br>

<%= link_to("Edit Recipe", edit_recipe_path(@recipe.id)) %> <br>
<%= link_to("Delete Recipe", recipe_path(@recipe.id), method: 'delete') %> <br>