<h1> Recipe Info: </h1>

Title: <%= @recipe.title %> <br>
Ingredients: <%= @recipe.ingredients %> <br>
Instructions: <%= @recipe.instructions %> <br>
<ul>
<%= @recipe.reviews.each do |review| %> <br>
    <li> Comments: <%= review.comment %> </li> <br>
    Score 0 (lowest) to 5 (highest): <%= review.stars %> <br>
<% end %>
</ul>


<%= link_to("Make a new review", new_recipe_review_path(@recipe.id))%> <br>

<%= link_to("Edit Recipe", edit_recipe_path(@recipe.id)) %> <br>
<%= link_to("Delete Recipe", recipe_path(@recipe.id), method: 'delete') %> <br>