<h1> Recipe Info: </h1>

<%= @recipe.title %> <br>
<%= @recipe.ingredients %> <br>
<%= @recipe.instructions %> <br>
<ul>
<%= @recipe.reviews.each do |review| %> <br>
    <li> <%= review.stars %> </li> <br>
    <%= review.comment %> <br>
<% end %>
</ul>


<%= link_to("Make a new review", new_recipe_review_path(@recipe.id))%> <br>

<%= link_to("Edit Recipe", edit_recipe_path(@recipe.id)) %> <br>
<%= link_to("Delete Recipe", recipe_path(@recipe.id), method: 'delete') %> <br>