<h1> Add a review to a recipe! </h1>

<%= form_for(@review) do |f| %>
    <%= f.label :"Score 1 (lowest) to 5 (highest):" %> <br>
    <%= f.number_field :stars %> <br> <br>

    <%= f.label :"comment:" %> <br>
    <%= f.text_area :comment %> <br>

    <hr>
    <%= f.fields_for :recipes do |r| %> 
        <%= r.label :"Recipe title:" %> 
        <%= r.text_field :title %> <br> <br>

        <%= r.label :"List of ingredients:" %> 
        <%= r.text_field :ingredients %> <br> <br>

        <%= r.label :"Recipe instructions:" %> <br>
        <%= r.text_area :instructions %> <br>
    <% end %>

    <%= f.submit %>
    
<% end %>

<% if @review.errors.any? %>
<div id = "error_explanation">
    <h2> The <%= pluralize(@review.errors.count, "error") %> 
        below is why the review could not be saved: </h2>
    
    <ul>
    <% @review.errors.full_messages.each do |error| %>
    <li><%= error %> </li>
    <% end %>
    </ul>
    </div>
<% end %>