<h1> Review Information: </h1>

Recipe: <%= @review.recipe.title %> <br>
Ingredients: <%= @review.recipe.ingredients %> <br>
Instructions: <%= @review.recipe.instructions %> <br> <br>
Rating: <%= @review.stars %> <br>
Comment: <%= @review.comment %> <br>

<%= link_to("Edit Review", edit_review_path(@review.id)) %> <br>
<%= link_to("Delete Review", review_path(@review.id), method: 'delete') %> <br>