<!DOCTYPE html>
<html>
  <head>
    <title>ReviewRecipesRailsproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Recipes", recipes_path) %>
    <%= link_to("Make a new recipe", new_recipe_path) %>
    <%= link_to("Reviews", reviews_path) %>
    <%= button_to "Log in with Google", '/auth/google_oauth2' %>
    <%= link_to("Log Out", 'logout', method: 'delete') %>
    
    <hr>

    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %> </div>
    <% end %>
    
    
    <%= yield %>
  </body>
</html>
